.login {
  max-width: 350px;
  border-radius: 25px;
  padding-top: 0px;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  margin: 50px auto;
  border: 1px solid #ddd;
  background-color: aqua;
  width: 100%;
}
.login__inp{
    width: 93%;
    height: 38px;
    margin-top: 16px;
    padding: 0 12px;
}
.login_img {
    text-align: center;
    margin: 0 auto;
    padding-right: 30px;
}
.login__text:nth-child(1) {
    max-width: 110px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.nimadir {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.imagess {
    border-radius: 15px;
}
.login__texts{
    max-width: 60px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.login button {
  width: 30%;
  margin-right: 20px;
  height: 38px;
  margin-top: 16px;
  padding: 0 12px;
  margin-top: 50px;
  border: none;
  border-radius: 15px;
}
.label__checkbox {
    display: flex;
    gap: 20px;
}
.login__btn {
    background-color: red;
    color: #ddd;
    font-size: 16px;
    width: 100%;
}
.login__btn {
    width: 100%;
}
.form__login {
    padding-top: 0px;
}
.login__card a {
    color: #FFF;
}
@media only screen and (max-width: 900px) {
    .form__login {
        padding-top: 90px;
    }
}